<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Phone Room Home Page</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Options</h3>
        <ol class="round">
                <li class="one">
                    <h1><a target="_blank" href="~/PhoneLogic.Inbound.html" >Person Lookup by Phone #</a></h1>
                </li>
            <li class="two">
                <h1><a target="_blank" href="~/PhoneLogic.Outbound.html">Recruiter Station</a></h1>
            </li>
            <li class="three">
                <h1><a target="_blank" href="~/PhoneLogic.Mgr.aspx">Supervisor Station</a></h1>
            </li>

        </ol>
    </section>
</div>
