<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <h1>Phone Room Home Page</h1>
        <ul style="list-style-type: none">
            <li>
                <h1><a target="_blank" href="~/PhoneLogic.MyDialer.html">My Dialer</a>
                </h1></li>
            <li>
                <h1><a target="_blank" href="~/PhoneLogic.Outbound.html">Recruiter Station</a>
                </h1></li>
            <li>
                <h1><a target="_blank" href="~/PhoneLogic.MyAlerts.html">My Alerts</a>
                </h1></li>
            <li>
                <h1><a target="_blank" href="~/PhoneLogic.DialHistory.html">Dial History</a>
                </h1></li>
            <li>
            <li>
                <h1>
                    <a target="_blank" href="~/PhoneLogic.Callbacks.html">Callbacks</a>
                </h1>
            </li>
            <li>
                <h1>
                    <a target="_blank" href="/Phoneroom/Training/RecruiterStationComponentOverview/RecruiterStationComponentOverview.html">Recruiter Station Overview</a>
                </h1>
            </li>
            <li >
                <h1><a target="_blank" href="/Phoneroom/Training/HowToRecruiterStation/HowToRecruiterStation.html">How to use the Recruiter Station</a></h1>
            </li>

            <li >
                <h1><a target="_blank" href="/Phoneroom/Training/RecknerRecruiterStationQuickReference.docx">Recruiter Station Quick Reference</a></h1>
            </li>
            </ul>
    </section>
</div>
