<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <h1>Phone Room Home Page</h1>
        <ul style="list-style-type: none">
            <li>
                <h1><a target="_blank" href="~/Phonelogic.Inbound.html">Person Lookup by Phone #</a>
                </h1></li>
            <li>
                <h1><a target="_blank" href="~/PhoneLogic.Outbound.html">Recruiter Station</a>
                </h1></li>
            <li>
                <h1><a target="_blank" href="~/PhoneLogic.Callbacks.html">Callbacks</a>
                </h1></li>
            <li>
                <h1><a target="_blank" href="~/PhoneLogic.DialHistory.html">Dial History</a>
                </h1></li>
            <li>
                <h1><a target="_blank" href="~/PhoneLogic.Mgr.html">Manager</a>
                </h1></li>
            <li>
                <h1><a target="_blank" href="~/PhoneLogic.Jobs.html">Jobs</a>
                </h1></li>
            <li>
                <h1><a target="_blank" href="~/PhoneLogic.Recruiters.html">Recruiters</a>
                </h1></li>
            <li>
                <h1><a target="_blank" href="~/PhoneLogic.Status.html">Status</a>
                </h1></li>
        </ul>
    </section>
</div>
