<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
		<!-- Server -->
  <add name="respondentConn" connectionString="Data Source=SQL08-02;Initial Catalog=respondent;Integrated Security=False;User Id=phone_room_app_pool;Password=dingo;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="respEntities" connectionString="metadata=res://*/RespModel.csdl|res://*/RespModel.ssdl|res://*/RespModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL08-02;initial catalog=respondent;integrated security=false;User Id=fmedvedik;Password=dogboy191;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="Data Source=SQL08-02;Initial Catalog=respondent;Integrated Security=False;User Id=phone_room_app_pool;Password=dingo;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="PhoneLogicEntities" connectionString="metadata=res://*/PhoneLogicModel.csdl|res://*/PhoneLogicModel.ssdl|res://*/PhoneLogicModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.6\sql2k5; initial catalog=PhoneLogic;integrated security=false;User Id=medvedik;Password=dogboy191;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		
	</connectionStrings>
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>