<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPhoneLogicService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cc-prod.reckner.com:1255/PhoneLogic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhoneLogicService"
                contract="ProdServiceReference.IPhoneLogicService" name="BasicHttpBinding_IPhoneLogicService" />
        </client>
    </system.serviceModel>
</configuration>